*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    color: #E2ACE2;
    font-weight: lighter;
}

.logo a img{
    display: flex;
    position: relative; top: 10px; left: 18px;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 5px;
    transition: 0.2s;
    margin: 0 5px;
    border-radius: 5px;
    margin-top: 15px;
}

.nav-bar ul li a:hover{
    color: black;
    background: white;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only scree9 and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1100px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .nav-bar{
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 12px;
    }

    nav{
        position: absolute;
    }
}

.nav-link:hover{
    color: grey !important;
}

.nav-link{
    color: white !important;
}


