label.error {
    margin-top: 5px !important; 
    color: red !important;
    font-size: 0.8em !important;
    display: block !important;
}

#enviar{
    clear: both;
    float:left;
    width: 100px;
    font-weight: bold;

}

#limpiar{
    float: left;
    width: 100px;
    margin-left: 10px;
    font-weight: bold;

}

