#enviar{
    clear: both;
    float:left;
    width: 100px;
    font-weight: bold;

}
#limpiar{
    float: left;
    width: 100px;
    margin-left: 10px;
    font-weight: bold;

}
.error-control{
    border: 1px solid red;
}
label.error{
    color:red;
    width: 250px;
    font-size: 0.8em;
    margin-top:-5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: lighter;
}
